name: Build and Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build and Release JAR
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        # We use shadowJar to get the all-in-one plugin jar
        run: ./gradlew :platform:paper:shadowJar --no-daemon --build-cache

      - name: Get Version
        id: info
        run: |
          VERSION=$(grep "project_version=" gradle.properties | cut -d'=' -f2)
          echo "artifact_version=$VERSION" >> $GITHUB_OUTPUT
        shell: bash

      - name: Create Production Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.info.outputs.artifact_version }}
          name: NaturalModels v${{ steps.info.outputs.artifact_version }}
          body: |
            Automated Production Build from NaturalSMP CI/CD.
            Last Build Time: ${{ github.event.head_commit.timestamp }}
            Commit: ${{ github.sha }}
          # Path to the shaded JAR
          files: platform/paper/build/libs/NaturalModels.jar
          generate_release_notes: true
          make_latest: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
